.tab{
    text-align: center;
}

label{
    color: white;
    display: inline-block;
    text-align: right;
}

table.center { 
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    max-height: 600px;
    overflow: auto;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: black !important;
    color: white;
}

tr:nth-child(even) {
    background-color: whitesmoke;
}

tr:nth-child(odd) {
    background-color: green;
}