body {
    background-color: hsl(205, 80%, 34%) !important;
}
.about{
    text-align: center;
    color: black;
    margin: 30px;
    font-family: cursive;
}
.about:hover{
    color: white;
    background-color: navy;
    transition: color 0.5s;
    transform: scale(1.1);
    transition: transform 0.5s;
}