nav {
    background-color: hsl(205, 80%, 34%);
}

.navbar-brand {
    font-weight: bolder !important;
}
.navbar-brand:hover {
    color: aqua !important;
    transition: color 0.5s;
    transform: scale(1.1);
    transition: transform 0.5s;
}

nav div a {
    margin-left: 2rem;
}

.nav-link:hover {
    color: aqua !important;
    transition: color 0.5s;
    background-color: hsl(222, 62%, 32%);
    transition: background-color 0.5s;
    border-radius: 10px;
    font-size: 15px;
    transform: scale(1.2);
    transition: transform 0.5s;
}

.navbar-toggler-icon {
    display: inline-block;
    color: hsl(196, 100%, 97%);
    width: 3em !important;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.btn:hover {
    color: aqua !important;
    background-color: green !important;
    transition: background-color 0.5s;
    font-size: 15px !important;
    transition: color 0.5s;
    transform: scale(1.1);
    transition: transform 0.5s;
}

.btn {
    color: hsl(196, 100%, 97%) !important;
    border-color: green !important;
}

.dropdown-item:hover {
    color: aqua !important;
    background-color: hsl(222, 62%, 32%) !important;
    transition: background-color 0.5s !important;
    border-radius: 10px !important;
    font-size: 15px !important;
    transition: color 0.5s;
    transform: scale(1.2);
    transition: transform 0.5s;
    text-align: center;
}

.dropdown-item {
    width: 90px !important;
    text-align: center;
}
.img {
    width: 40px;
    height: 40px;
    border-radius: 10%;
}
.img:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
}
.imag:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
}