.footer {
    padding-top: 20px;
    padding-bottom: 10px;
    background-color:hsl(205, 80%, 34%);
}

.col-md-3 {
    margin-left: 20px;
    margin-right: -5px;
    margin-bottom: 20px;
    text-align: justify;
    text-justify: auto;
}

a:link {
    color: white;
    text-decoration: none;
}

a:link:hover{
    color: aqua;
}

.col-md-6 {
    margin-left: -60px;
    margin-right: 30px;
    margin-bottom: 20px;
}

.imag{
    height: 50px;
    width: 50px;
}

.imag:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
}

#btn-back-to-top {
    color: navy !important;
    background-color: white !important;
    position: fixed;
    bottom: 20px;
    right: 40px;
    width: 120px;
    height: 40px;
    font-size: 15px;
    padding-left: 0px;
    padding-right: 0px;
    z-index: 9999;
}

#btn-back-to-top:hover {
    transform: scale(1);
    background-color: navy !important;
    color: white !important;
    transition: transform 0.5s;
}